<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bootsrap 4 starter</title>
  <link rel="stylesheet" href="../../src/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../src/css/bootstrap2.css">
  <link rel="stylesheet" href="../../src/css/style06.css">
</head>
<body id="home">
      <div id="cookie" class="alert alert-dark alert-dismissible fade show" role="alert">
          En poursuivant votre navigation sur ce site, vous acceptez l'utilisation de cookies ou autres traceurs pour réaliser des statistiques de visites.<a class="btn btn-blue close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">Je comprends</span></a>
        </div>
  <!-- Navbar -->
  <nav id="firstMenu" class="navbar navbar-expand-sm navbar-light">

      <div class="container">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <navbar id="navNavbar" class="collapse navbar-collapse">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <b>Accès rapide :&nbsp;</b>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">Contenu
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Navigation</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Recherche</a>
                </li>
              </ul>
              <a class="logo" href="#"><img src="../../src/img/Elise-clone.png" alt=""></a>
              <form class="search-top"><input type="text" placeholder="Recherche"></form>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Agenda d'Elise</a>
                </li>
              </ul>
        </navbar>
      </div>
    </nav>


  <!-- /Navbar -->

<section id="content"></section>


  <script src="../../src/js/jquery.min.js"></script>
  <script src="../../src/js/popper.min.js"></script>
  <script src="../../src/js/bootstrap.min.js"></script>
</body>
</html>
