<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bootsrap 4 starter</title>
  <link rel="stylesheet" href="../../src/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../src/css/bootstrap2.css">
  <link rel="stylesheet" href="../../src/css/style06.css">
</head>
<body id="home">
      <div id="cookie" class="alert alert-dark alert-dismissible fade show" role="alert">
          En poursuivant votre navigation sur ce site, vous acceptez l'utilisation de cookies ou autres traceurs pour réaliser des statistiques de visites.<a class="btn btn-blue close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">Je comprends</span></a>
        </div>
  <!-- Navbar -->
  <nav id="firstMenu" class="navbar navbar-expand-sm navbar-light">

      <div class="container">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <navbar id="navNavbar" class="collapse navbar-collapse">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <b>Accès rapide :&nbsp;</b>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">Contenu
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Navigation</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Recherche</a>
                </li>
              </ul>
              <a class="logo" href="#"><img src="../../src/img/Elise-clone.png" alt=""></a>
              <form class="search-top d-flex flex-row justify-content-between">
                <input type="text" placeholder="Recherche">
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Agenda d'Elise</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link social" href="#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link social" href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link social" href="#"><i class="fa fa-instagram"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link social" href="#"><i class="fa fa-vine"></i></a>
                  </li>
              </ul>
        </navbar>
      </div>
    </nav>


  <!-- /Navbar -->

<section id="content" class="bg-grey pb-5">
  <!-- Top Menu -->
  <div id="topmenu" class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" href="#">Les actualités</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Chronologie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Réseaux sociaux</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Photos et vidéos</a>
            </li>
          </ul>
      </div>
    </div>
  </div>
  <hr class="black-line mb-5">
  <!-- /Top Menu -->

  <!-- Effective content 6 / 3 / 3 -->
  <div class="container" id="effective-content">
    <div class="row">
      <div id="content-right" class="col-md-6">


        <!-- Card img -->
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item picture p-0"><img src="http://lorempixel.com/400/200/transport/" alt=""></li>
            <li class="list-group-item bg-primary text-white"><div>
                <h6 class="text-uppercase">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h6>
                </div></li>
            <li class="list-group-item text-dark">Publier le 27 Avril 2018</li>
            <li class="list-group-item">Partage sur: <a href="#" class="social"><i class="fa fa-facebook"></i></a> <a href="#" class="social"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
        <!-- /Card img -->

        <!-- Card icon -->
        <div class="card mt-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item icone p-0 border-bottom-0"><h4 class="py-2 text-center"><i class="fa fa-video-camera text-primary"></i></h4></li>
            <li class="list-group-item border-top-0 border-bottom-0">
              <div>
                <h6 class="text-primary text-uppercase">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h6>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est explicabo quisquam delectus repudiandae. Error provident ducimus, quidem culpa quia quibusdam velit ullam ipsam praesentium fugit? Minima suscipit dignissimos officia nihil!</p>
              </div>
            </li>
            <li class="list-group-item border-top-0 text-dark">Publier le 27 Avril 2018</li>
            <li class="list-group-item">Partage sur: <a href="#" class="social"><i class="fa fa-facebook"></i></a> <a href="#" class="social"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
        <!-- /Card icon -->


        <!-- Card img -->
        <div class="card mt-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item picture p-0"><img src="http://lorempixel.com/400/200/business/" alt=""></li>
            <li class="list-group-item bg-primary text-white"><div>
                <h6 class="text-uppercase">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h6>
                </div></li>
            <li class="list-group-item text-dark">Publier le 27 Avril 2018</li>
            <li class="list-group-item">Partage sur: <a href="#" class="social"><i class="fa fa-facebook"></i></a> <a href="#" class="social"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
        <!-- /Card img -->

        <!-- Card icon -->
        <div class="card mt-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item icone p-0 border-bottom-0"><h4 class="py-2 text-center"><i class="fa fa-video-camera text-primary"></i></h4></li>
            <li class="list-group-item border-top-0 border-bottom-0">
              <div>
                <h6 class="text-primary text-uppercase">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h6>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est explicabo quisquam delectus repudiandae. Error provident ducimus, quidem culpa quia quibusdam velit ullam ipsam praesentium fugit? Minima suscipit dignissimos officia nihil!</p>
              </div>
            </li>
            <li class="list-group-item border-top-0 text-dark">Publier le 27 Avril 2018</li>
            <li class="list-group-item">Partage sur: <a href="#" class="social"><i class="fa fa-facebook"></i></a> <a href="#" class="social"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
        <!-- /Card icon -->

        <!-- Card -->
        <div class="card mt-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-danger text-white">
              <div>
                <h5 class="text-uppercase">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, omnis!</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ullam blanditiis incidunt deserunt ad alias nemo, voluptates distinctio eius veniam sint pariatur sequi mollitia voluptatum aliquam cupiditate cum, enim deleniti? Dolorum, officiis vel. Quia, ipsa.</p>
                <p class="mt-2">Publier le 27 Avril 2018</p>
              </div>
            </li>
            <li class="list-group-item">Partage sur: <a href="#" class="social"><i class="fa fa-facebook"></i></a> <a href="#" class="social"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
        <!-- /Card -->



        <!-- Card img -->
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item picture p-0"><img src="http://lorempixel.com/400/200/people/" alt=""></li>
            <li class="list-group-item bg-primary text-white"><div>
                <h6 class="text-uppercase">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h6>
                </div></li>
            <li class="list-group-item text-dark">Publier le 27 Avril 2018</li>
            <li class="list-group-item">Partage sur: <a href="#" class="social"><i class="fa fa-facebook"></i></a> <a href="#" class="social"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
        <!-- /Card img -->

        <!-- Card icon -->
        <div class="card mt-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item icone p-0 border-bottom-0"><h4 class="py-2 text-center"><i class="fa fa-video-camera text-primary"></i></h4></li>
            <li class="list-group-item border-top-0 border-bottom-0">
              <div>
                <h6 class="text-primary text-uppercase">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h6>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est explicabo quisquam delectus repudiandae. Error provident ducimus, quidem culpa quia quibusdam velit ullam ipsam praesentium fugit? Minima suscipit dignissimos officia nihil!</p>
              </div>
            </li>
            <li class="list-group-item border-top-0 text-dark">Publier le 27 Avril 2018</li>
            <li class="list-group-item">Partage sur: <a href="#" class="social"><i class="fa fa-facebook"></i></a> <a href="#" class="social"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
        <!-- /Card icon -->


        <!-- Card img -->
        <div class="card mt-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item picture p-0"><img src="http://lorempixel.com/400/200/nature/" alt=""></li>
            <li class="list-group-item bg-primary text-white"><div>
                <h6 class="text-uppercase">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h6>
                </div></li>
            <li class="list-group-item text-dark">Publier le 27 Avril 2018</li>
            <li class="list-group-item">Partage sur: <a href="#" class="social"><i class="fa fa-facebook"></i></a> <a href="#" class="social"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
        <!-- /Card img -->

        <!-- Card icon -->
        <div class="card mt-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item icone p-0 border-bottom-0"><h4 class="py-2 text-center"><i class="fa fa-video-camera text-primary"></i></h4></li>
            <li class="list-group-item border-top-0 border-bottom-0">
              <div>
                <h6 class="text-primary text-uppercase">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h6>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est explicabo quisquam delectus repudiandae. Error provident ducimus, quidem culpa quia quibusdam velit ullam ipsam praesentium fugit? Minima suscipit dignissimos officia nihil!</p>
              </div>
            </li>
            <li class="list-group-item border-top-0 text-dark">Publier le 27 Avril 2018</li>
            <li class="list-group-item">Partage sur: <a href="#" class="social"><i class="fa fa-facebook"></i></a> <a href="#" class="social"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
        <!-- /Card icon -->

        <!-- Card icon -->
        <div class="card mt-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item icone p-0 border-bottom-0"><h4 class="py-2 text-center"><i class="fa fa-video-camera text-primary"></i></h4></li>
            <li class="list-group-item border-top-0 border-bottom-0">
              <div>
                <h6 class="text-primary text-uppercase">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h6>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est explicabo quisquam delectus repudiandae. Error provident ducimus, quidem culpa quia quibusdam velit ullam ipsam praesentium fugit? Minima suscipit dignissimos officia nihil!</p>
              </div>
            </li>
            <li class="list-group-item border-top-0 text-dark">Publier le 27 Avril 2018</li>
            <li class="list-group-item">Partage sur: <a href="#" class="social"><i class="fa fa-facebook"></i></a> <a href="#" class="social"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
        <!-- /Card icon -->

        <!-- Card -->
        <div class="card mt-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-danger text-white">
              <div>
                <h5 class="text-uppercase">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, omnis!</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ullam blanditiis incidunt deserunt ad alias nemo, voluptates distinctio eius veniam sint pariatur sequi mollitia voluptatum aliquam cupiditate cum, enim deleniti? Dolorum, officiis vel. Quia, ipsa.</p>
                <p class="mt-2">Publier le 27 Avril 2018</p>
              </div>
            </li>
            <li class="list-group-item">Partage sur: <a href="#" class="social"><i class="fa fa-facebook"></i></a> <a href="#" class="social"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
        <!-- /Card -->


        <!-- Card img -->
        <div class="card mt-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item picture p-0"><img src="http://lorempixel.com/400/200/city/" alt=""></li>
              <li class="list-group-item bg-primary text-white"><div>
                  <h6 class="text-uppercase">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h6>
                  </div></li>
              <li class="list-group-item text-dark">Publier le 27 Avril 2018</li>
              <li class="list-group-item">Partage sur: <a href="#" class="social"><i class="fa fa-facebook"></i></a> <a href="#" class="social"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
          <!-- /Card img -->

          <!-- Card icon -->
          <div class="card mt-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item icone p-0 border-bottom-0"><h4 class="py-2 text-center"><i class="fa fa-video-camera text-primary"></i></h4></li>
              <li class="list-group-item border-top-0 border-bottom-0">
                <div>
                  <h6 class="text-primary text-uppercase">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h6>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est explicabo quisquam delectus repudiandae. Error provident ducimus, quidem culpa quia quibusdam velit ullam ipsam praesentium fugit? Minima suscipit dignissimos officia nihil!</p>
                </div>
              </li>
              <li class="list-group-item border-top-0 text-dark">Publier le 27 Avril 2018</li>
              <li class="list-group-item">Partage sur: <a href="#" class="social"><i class="fa fa-facebook"></i></a> <a href="#" class="social"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
          <!-- /Card icon -->


        <!-- Card img -->
        <div class="card mt-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item picture p-0"><img src="http://lorempixel.com/400/200/people/" alt=""></li>
              <li class="list-group-item bg-primary text-white"><div>
                  <h6 class="text-uppercase">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h6>
                  </div></li>
              <li class="list-group-item text-dark">Publier le 27 Avril 2018</li>
              <li class="list-group-item">Partage sur: <a href="#" class="social"><i class="fa fa-facebook"></i></a> <a href="#" class="social"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
          <!-- /Card img -->


      </div>
      <div id="content-center" class="col-md-3">

        <!-- Card img -->
        <div class="card">
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item picture p-0"><img src="http://lorempixel.com/400/200/business/" alt=""></li>
            <li class="list-group-item bg-primary text-white"><div>
                <h6 class="text-uppercase">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h6>

                </div></li>
            <li class="list-group-item text-dark">Publier le 27 Avril 2018</li>
            <li class="list-group-item">Partage sur: <a href="#" class="social"><i class="fa fa-facebook"></i></a> <a href="#" class="social"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
        <!-- /Card img -->

        <!-- Card icon -->
        <div class="card mt-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item icone p-0 border-bottom-0"><h4 class="py-2 text-center"><i class="fa fa-podcast text-primary"></i></h4></li>
            <li class="list-group-item text-primary border-top-0 border-bottom-0"><div>
                <h6 class="text-uppercase">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h6>

                </div></li>
            <li class="list-group-item border-top-0 text-dark">Publier le 27 Avril 2018</li>
            <li class="list-group-item">Partage sur: <a href="#" class="social"><i class="fa fa-facebook"></i></a> <a href="#" class="social"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
        <!-- /Card icon -->

        <!-- Card img -->
        <div class="card mt-3">
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item picture p-0"><img src="http://lorempixel.com/400/200/people/" alt=""></li>
            <li class="list-group-item bg-primary text-white"><div>
                <h6 class="text-uppercase">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h6>

                </div></li>
            <li class="list-group-item text-dark">Publier le 28 Avril 2018</li>
            <li class="list-group-item">Partage sur: <a href="#" class="social"><i class="fa fa-facebook"></i></a> <a href="#" class="social"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
        <!-- /Card img-->


        <!-- Card icon -->
        <div class="card mt-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item icone p-0 border-bottom-0"><h4 class="py-2 text-center"><i class="fa fa-podcast text-primary"></i></h4></li>
            <li class="list-group-item text-primary border-top-0 border-bottom-0"><div>
                <h6 class="text-uppercase">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h6>

                </div></li>
            <li class="list-group-item border-top-0 text-dark">Publier le 27 Avril 2018</li>
            <li class="list-group-item">Partage sur: <a href="#" class="social"><i class="fa fa-facebook"></i></a> <a href="#" class="social"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
        <!-- /Card icon -->

        <!-- Card img -->
        <div class="card mt-3">
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item picture p-0"><img src="http://lorempixel.com/400/200/city/" alt=""></li>
            <li class="list-group-item bg-primary text-white"><div>
                <h6 class="text-uppercase">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h6>

                </div></li>
            <li class="list-group-item text-dark">Publier le 29 Avril 2018</li>
            <li class="list-group-item">Partage sur: <a href="#" class="social"><i class="fa fa-facebook"></i></a> <a href="#" class="social"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
        <!-- /Card img-->

        <!-- Card icon -->
        <div class="card mt-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item icone p-0 border-bottom-0"><h4 class="py-2 text-center"><i class="fa fa-podcast text-primary"></i></h4></li>
            <li class="list-group-item text-primary border-top-0 border-bottom-0"><div>
                <h6 class="text-uppercase">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h6>

                </div></li>
            <li class="list-group-item border-top-0 text-dark">Publier le 27 Avril 2018</li>
            <li class="list-group-item">Partage sur: <a href="#" class="social"><i class="fa fa-facebook"></i></a> <a href="#" class="social"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
        <!-- /Card icon -->

        <!-- Card img -->
        <div class="card mt-3">
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item picture p-0"><img src="http://lorempixel.com/400/200/transport/" alt=""></li>
            <li class="list-group-item bg-primary text-white"><div>
                <h6 class="text-uppercase">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h6>

                </div></li>
            <li class="list-group-item text-dark">Publier le 29 Avril 2018</li>
            <li class="list-group-item">Partage sur: <a href="#" class="social"><i class="fa fa-facebook"></i></a> <a href="#" class="social"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
        <!-- /Card img-->

      </div>

      <div id="content-left" class="col-md-3">
          <!-- Card -->
          <div class="card">
            <ul class="list-group list-group-flush text-center">
              <li class="list-group-item bg-danger text-white">
                <div>
                  <p class="text-uppercase">mercredi</p>
                  <p class="display-4">2</p>
                  <p class="text-uppercase">Mai</p>
                  <p class="text-uppercase">Lorem, ipsum dolor</p>
                </div>
              </li>
              <li class="list-group-item">Déplacement au Commonwealth d’Australie</li>
              <li class="list-group-item"><a href="#" class="text-uppercase">Voir l’agenda complet</a></li>
            </ul>
          </div>
          <!-- /Card -->

          <!-- Card -->
          <div class="card mt-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-danger text-white text-center">
                <div>
                  <p class="text-uppercase">Dernières actualités</p>
                </div>
              </li>
              <li class="list-group-item">
                <!-- info -->
                <div class="d-flex flex-row justify-content-between">
                  <div class="date text-danger text-uppercase text-center p-2"><h2>13</h2><div>OCT</div></div>
                  <div class="info p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et culpa illo beatae nostrum nulla cum?</div>
                </div>
                <!-- /info -->
                <!-- info -->
                <div class="d-flex flex-row justify-content-between">
                  <div class="date text-danger text-uppercase text-center p-2"><h2>13</h2><div>OCT</div></div>
                  <div class="info p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et culpa illo beatae nostrum nulla cum?</div>
                </div>
                <!-- /info -->
                <!-- info -->
                <div class="d-flex flex-row justify-content-between">
                  <div class="date text-danger text-uppercase text-center p-2"><h2>13</h2><div>OCT</div></div>
                  <div class="info p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et culpa illo beatae nostrum nulla cum?</div>
                </div>
                <!-- /info -->
                <!-- info -->
                <div class="d-flex flex-row justify-content-between">
                  <div class="date text-danger text-uppercase text-center p-2"><h2>13</h2><div>OCT</div></div>
                  <div class="info p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et culpa illo beatae nostrum nulla cum?</div>
                </div>
                <!-- /info -->
                <!-- info -->
                <div class="d-flex flex-row justify-content-between">
                  <div class="date text-danger text-uppercase text-center p-2"><h2>13</h2><div>OCT</div></div>
                  <div class="info p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et culpa illo beatae nostrum nulla cum?</div>
                </div>
                <!-- /info -->
                <!-- info -->
                <div class="d-flex flex-row justify-content-between">
                  <div class="date text-danger text-uppercase text-center p-2"><h2>13</h2><div>OCT</div></div>
                  <div class="info p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et culpa illo beatae nostrum nulla cum?</div>
                </div>
                <!-- /info -->
                <!-- info -->
                <div class="d-flex flex-row justify-content-between">
                  <div class="date text-danger text-uppercase text-center p-2"><h2>13</h2><div>OCT</div></div>
                  <div class="info p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et culpa illo beatae nostrum nulla cum?</div>
                </div>
                <!-- /info -->

              </li>
              <li class="list-group-item text-center"><a href="#" class="text-uppercase">Voir l’agenda complet</a></li>
            </ul>
          </div>
          <!-- /Card -->

        <!-- Card -->
        <div class="card mt-2">
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item picture p-0"><img src="http://lorempixel.com/400/200/nature/" alt=""></li>
            <li class="list-group-item text-uppercase"><a href="#">Lorem, ipsum dolor.</a></li>
          </ul>
        </div>
        <!-- /Card -->

        <!-- Card -->
        <div class="card mt-2">
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item picture p-0"><img src="http://lorempixel.com/400/200/abstract/" alt=""></li>
            <li class="list-group-item text-uppercase"><a href="#">Lorem, ipsum dolor.</a></li>
          </ul>
        </div>
        <!-- /Card -->

        <!-- Card -->
        <div class="card mt-2">
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item picture p-0"><img src="http://lorempixel.com/400/200/technics/" alt=""></li>
            <li class="list-group-item text-uppercase"><a href="#">Lorem, ipsum dolor.</a></li>
          </ul>
        </div>
        <!-- /Card -->

      </div>
    </div>
  </div>
  <!-- /Effective content -->

</section>
<section class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <ul class="nav justify-content-center text-uppercase">
              <li class="nav-item">
                <a class="nav-link active" href="#">Harder</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Better</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Faster</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Stronger</a>
              </li>
            </ul>
      </div>
    </div>
  </div>
</section>

</section>
<!-- Footer -->
<footer>
  <section class="bg-grey py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
              <ul class="list-unstyled">
                  <li>Lorem ipsum dolor sit amet</li>
                  <li>Consectetur adipiscing elit</li>
                  <li>Integer molestie lorem at massa</li>
                  <li>Facilisis in pretium nisl aliquet</li>
                  <li>Nulla volutpat aliquam velit
                    <ul>
                      <li>Phasellus iaculis neque</li>
                      <li>Purus sodales ultricies</li>
                      <li>Vestibulum laoreet porttitor sem</li>
                      <li>Ac tristique libero volutpat at</li>
                    </ul>
                  </li>
                  <li>Faucibus porta lacus fringilla vel</li>
                  <li>Aenean sit amet erat nunc</li>
                  <li>Eget porttitor lorem</li>
                </ul>
          </div>
          <div class="col-md-3">
              <ul class="list-unstyled">
                  <li>Lorem ipsum dolor sit amet</li>
                  <li>Consectetur adipiscing elit</li>
                  <li>Integer molestie lorem at massa</li>
                  <li>Facilisis in pretium nisl aliquet</li>
                  <li>Nulla volutpat aliquam velit
                    <ul>
                      <li>Phasellus iaculis neque</li>
                      <li>Purus sodales ultricies</li>
                      <li>Vestibulum laoreet porttitor sem</li>
                      <li>Ac tristique libero volutpat at</li>
                    </ul>
                  </li>
                  <li>Faucibus porta lacus fringilla vel</li>
                  <li>Aenean sit amet erat nunc</li>
                  <li>Eget porttitor lorem</li>
                </ul>
          </div>
          <div class="col-md-3">
              <ul class="list-unstyled">
                  <li>Lorem ipsum dolor sit amet</li>
                  <li>Consectetur adipiscing elit</li>
                  <li>Integer molestie lorem at massa</li>
                  <li>Facilisis in pretium nisl aliquet</li>
                  <li>Nulla volutpat aliquam velit
                    <ul>
                      <li>Phasellus iaculis neque</li>
                      <li>Purus sodales ultricies</li>
                      <li>Vestibulum laoreet porttitor sem</li>
                      <li>Ac tristique libero volutpat at</li>
                    </ul>
                  </li>
                  <li>Faucibus porta lacus fringilla vel</li>
                  <li>Aenean sit amet erat nunc</li>
                  <li>Eget porttitor lorem</li>
                </ul>
          </div>
          <div class="col-md-3 linetop">
              <a href="#" class="social"><i class="fa fa-facebook"></i></a>
              <a href="#" class="social"><i class="fa fa-twitter"></i></a>
              <a href="#" class="social"><i class="fa fa-instagram"></i></a>
              <a href="#" class="social"><i class="fa fa-vine"></i></a>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-brown py-2 m-0">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p class="text-dark m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, possimus? <i class="fa fa-home"></i></p>
          </div>
        </div>
      </div>
    </section>
    <section class="py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <ul class="nav justify-content-center text-uppercase">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">www.website.com</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">www.website.com</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">www.website.com</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">www.website.com</a>
                  </li>
                </ul>
          </div>
        </div>
      </div>
    </section>


</footer>
<!-- /Footer -->

  <script src="../../src/js/jquery.min.js"></script>
  <script src="../../src/js/popper.min.js"></script>
  <script src="../../src/js/bootstrap.min.js"></script>
</body>
</html>
