<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bootsrap 4 starter</title>
  <link rel="stylesheet" href="../../src/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../src/css/bootstrap.css">
  <link rel="stylesheet" href="../../src/css/style04.css">
  <!-- Ekko Lightbox -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
</head>

<body id="home">

<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a href="index.html" class="navbar-brand">Theme Four</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <navbar id="navNavbar" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="about.html" class="nav-link">About Us</a></li>
        <li class="nav-item"><a href="services.html" class="nav-link">Services</a></li>
        <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
      </ul>
    </navbar>
  </div>
</nav>
<!-- /Navbar -->

<!-- Showcase slider -->

<section id="showcase">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item carousel-image-1 active">
        <div class="container-fluid">
          <div class="container">
            <div class="carousel-caption d-none d-sm-block text-white mb-5">
              <h1 class="display-3">Heading One</h1>
              <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, delectus. Quam magnam rerum suscipit veniam corrupti harum dolorem culpa doloremque.</p>
              <a href="#" class="btn btn-danger btn-lg">Sign Up Now</a>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item carousel-image-2">
        <div class="container-fluid">
          <div class="container">
            <div class="carousel-caption d-none d-sm-block text-white mb-5">
              <h1 class="display-3">Heading Two</h1>
              <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, delectus. Quam magnam rerum suscipit veniam corrupti harum dolorem culpa doloremque.</p>
              <a href="#" class="btn btn-primary btn-lg">Learn More</a>
            </div>
          </div>
        </div>
      </div>


      <div class="carousel-item carousel-image-3">
        <div class="container-fluid">
          <div class="container">
            <div class="carousel-caption d-none d-sm-block text-white mb-5">
              <h1 class="display-3">Heading One</h1>
              <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, delectus. Quam magnam rerum suscipit veniam corrupti harum dolorem culpa doloremque.</p>
              <a href="#" class="btn btn-success btn-lg">Learn More</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <a href="#myCarousel" class="carousel-control-prev" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>



    <a href="#myCarousel" class="carousel-control-next" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>


  </div>
</section>

<!-- /Showcase slider -->

<!-- Home icon section -->

<section id="home-icons" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md mb text-center">
        <i class="fa fa-cog mb-2"></i>
        <h3>Turning Gears</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga impedit sint obcaecati! Unde, praesentium id.</p>
      </div>
      <div class="col-md mb text-center">
          <i class="fa fa-cloud mb-2"></i>
          <h3>Sending Data</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga impedit sint obcaecati! Unde, praesentium id.</p>
      </div>
      <div class="col-md mb text-center">
          <i class="fa fa-cart-plus mb-2"></i>
          <h3>Making Money</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga impedit sint obcaecati! Unde, praesentium id.</p>
      </div>
    </div>
  </div>
</section>

<!-- /Home icon section -->


<!-- Home heading section -->

<section id="home-heading" class="p-5">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container pt-5">
          <h1>Are you ready to get started</h1>
          <p class="d-none d-sm-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat veritatis reiciendis in inventore libero praesentium tempora, totam alias obcaecati!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- /Home heading section -->

<!-- Info section -->

<secion id="info" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <h3>Lorem Ipsum</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque deleniti iure explicabo, itaque obcaecati iusto fuga officiis libero rem cumque?</p>
        <a href="#" class="btn btn-outline-danger btn-lg">Learn More</a>
      </div>
      <div class="col-md-6">
        <img src="../../src/img/laptop.png" alt="" class="img-fluid mt-3">
      </div>
    </div>
  </div>
</secion>

<!-- /Info section -->

<!-- Video play section -->

<section id="video-play">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container p-5">
          <a
          href="#"
          class="video"
          data-video="https://www.youtube.com/embed/coU6OmISOBM"
          data-toggle="modal"
          data-target="#videoModal">
            <i class="fa fa-play"></i>
          </a>
          <h1>See What We Do</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- /Video play section -->


<!-- Video Modal -->

<div class="modal fade" id="videoModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
        <iframe height="350" width="100%" src="https://www.youtube.com/embed/coU6OmISOBM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<!-- Photo Gallery -->

<section id="gallery" class="py-5">
  <div class="container">
    <h1 class="text-center">Photo Gallery</h1>
    <p class="text-center">Check out our photos</p>

    <div class="row mb-4">
      <div class="col md-4">
        <a href="http://i.pravatar.cc/500?img=11" data-toggle="lightbox" data-gallery="img-gallery">
          <img src="http://i.pravatar.cc/250?img=11" alt="" class="img-fluid">
        </a>
      </div>
      <div class="col md-4">
        <a href="http://i.pravatar.cc/500?img=12" data-toggle="lightbox" data-gallery="img-gallery">
          <img src="http://i.pravatar.cc/250?img=12" alt="" class="img-fluid">
        </a>
      </div>
      <div class="col md-4">
        <a href="http://i.pravatar.cc/500?img=13" data-toggle="lightbox" data-gallery="img-gallery">
          <img src="http://i.pravatar.cc/250?img=13" alt="" class="img-fluid">
        </a>
      </div>
      <div class="col md-4">
        <a href="http://i.pravatar.cc/500?img=14" data-toggle="lightbox" data-gallery="img-gallery">
          <img src="http://i.pravatar.cc/250?img=14" alt="" class="img-fluid">
        </a>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col md-4">
        <a href="http://i.pravatar.cc/500?img=25" data-toggle="lightbox" data-gallery="img-gallery">
          <img src="http://i.pravatar.cc/250?img=25" alt="" class="img-fluid">
        </a>
      </div>
      <div class="col md-4">
        <a href="http://i.pravatar.cc/500?img=16" data-toggle="lightbox" data-gallery="img-gallery">
          <img src="http://i.pravatar.cc/250?img=16" alt="" class="img-fluid">
        </a>
      </div>
      <div class="col md-4">
        <a href="http://i.pravatar.cc/500?img=17" data-toggle="lightbox" data-gallery="img-gallery">
          <img src="http://i.pravatar.cc/250?img=17" alt="" class="img-fluid">
        </a>
      </div>
      <div class="col md-4">
        <a href="http://i.pravatar.cc/500?img=18" data-toggle="lightbox" data-gallery="img-gallery">
          <img src="http://i.pravatar.cc/250?img=18" alt="" class="img-fluid">
        </a>
      </div>
    </div>


  </div>
</section>

<!-- /Photo Gallery -->

<!-- /Video Modal -->

  <script src="../../src/js/jquery.min.js"></script>
  <script src="../../src/js/popper.min.js"></script>
  <script src="../../src/js/bootstrap.min.js"></script>
  <!-- Lightbox script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
  <script>
$(function() {
  // Auto play modal video
  $(".video").click(function () {
    var theModal = $(this).data("target"),
    videoSRC = $(this).attr("data-video"),
    videoSRCauto = videoSRC + "?modestbranding=1&rel=0&controls=1&showinfo=0&html5=1&mute=1&autoplay=1";
    $(theModal + ' iframe').attr('src', videoSRCauto);
    $(theModal + ' button.close').click(function () {
      $(theModal + ' iframe').attr('src', videoSRC);
    });
  });
});
// @see: http://ashleydw.github.io/lightbox/
$(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
  </script>
</body>

</html>
