<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bootsrap 4 starter</title>
  <link rel="stylesheet" href="../../src/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../src/css/bootstrap2.css">
  <link rel="stylesheet" href="../../src/css/style07.css">
</head>
<body id="home">
    <div class="overlay">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand d-flex flex-row pr-5" href="#"><div class="navbar-brand-left pr-2"><img class="logo" src="../../src/img/logo-lion.png" alt="logo"></div><div class="navbar-brand-left"><h2 class="m-0 font-weight-bold font-italic">Hi all, Here we go!</h2><span>Officcial website of love</span></div></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav flex-grow d-flex justify-content-between align-self-stretch">
                                <a class="nav-item nav-link active" href="#"><i class="fa fa-home"></i>Home <span class="sr-only">(current)</span></a>
                                <a class="nav-item nav-link" href="#"><i class="fa fa-heart"></i>Life</a>
                                <a class="nav-item nav-link" href="#"><i class="fa fa-gear"></i>Passion</a>
                                <a class="nav-item nav-link" href="#"><i class="fa fa-flag"></i>Emotion</a>
                            </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>





    </div>

  <script src="../../src/js/jquery.min.js"></script>
  <script src="../../src/js/popper.min.js"></script>
  <script src="../../src/js/bootstrap.min.js"></script>
</body>
</html>
