/* For debuggin a div just add "debug" class */
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Lato|Roboto');

.debug
{
  position: relative;
}

.debug:after
{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  min-width: 100%;
  height: 100%;
  content: '';
  border: 1px dashed red;
  background-color: rgba(0, 0, 0, .4);
}

/* General */
/* Button */
a.btn.readmore
{
  position: relative;
  transition: color .25s ease;
  color: var(--red);
}

a.btn.readmore:hover
{
  color: var(--white);
    /*background-color:var(--red);*/;
}

a.btn.readmore::after
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  content: '';
  transition: width .25s ease;
  transform-origin: left;
  background-color: var(--red);
}

a.btn.readmore:hover::after
{
  width: 100%;
}

/* Menu danger
background-transition with linear-gradient
and background-position */
a.btn.readmore-danger
{
  position: relative;
  transition: color .25s ease;
  transition: all .5s ease 0s;
  transition: all 1s ease;
  color: var(--white);
  background: linear-gradient(to left, transparent 50%, white 50%, white 99.76%, transparent 99.76%);
  background-position: right bottom;
  background-size: 240% 100%;
}

a.btn.readmore-danger:hover
{
  color: var(--red);
  background-position: -2px bottom;
}

a.btn.readmore-info
{
  position: relative;
  transition: color .25s ease;
  transition: all .5s ease 0s;
  transition: all 1s ease;
  color: var(--white);
  background: linear-gradient(to left, transparent 50%, white 50%, white 99.76%, transparent 99.76%);
  background-position: right bottom;
  background-size: 240% 100%;
}

a.btn.readmore-info:hover
{
  color: var(--info);
  background-position: -2px bottom;
}

a.btn.readmore-success
{
  position: relative;
  transition: color .25s ease;
  transition: all .5s ease 0s;
  transition: all 1s ease;
  color: var(--white);
  background: linear-gradient(to left, transparent 50%, white 50%, white 99.76%, transparent 99.76%);
  background-position: right bottom;
  background-size: 240% 100%;
}

a.btn.readmore-
:hover
{
  color: var(--success);
  background-position: -2px bottom;
}

a.btn.readmore-warning
{
  position: relative;
  transition: color .25s ease;
  transition: all .5s ease 0s;
  transition: all 1s ease;
  color: var(--white);
  background: linear-gradient(to left, transparent 50%, white 50%, white 99.76%, transparent 99.76%);
  background-position: right bottom;
  background-size: 240% 100%;
}

a.btn.readmore-warning:hover
{
  color: var(--warning);
  background-position: -2px bottom;
}

a.btn.readmore-primary
{
  position: relative;
  transition: color .25s ease;
  transition: all .5s ease 0s;
  transition: all 1s ease;
  color: var(--white);
  background: linear-gradient(to left, transparent 50%, white 50%, white 99.76%, transparent 99.76%);
  background-position: right bottom;
  background-size: 240% 100%;
}

a.btn.readmore-primary:hover
{
  color: var(--primary);
  background-position: -2px bottom;
}

/* For menu */
.bg-danger a.nav-link:not(.dropdown-toggle),
.bg-danger a.dropdown-item
{
  position: relative;
  transition: color .25s ease;
  color: var(--white);
}

.bg-danger a.nav-link:not(.dropdown-toggle):hover,
.bg-danger a.dropdown-item:hover
{
  color: var(--red);
  background-color: inherit;
}

.bg-danger a.nav-link:not(.dropdown-toggle)::after,
.bg-danger a.dropdown-item::after
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  content: '';
  transition: width .25s ease;
  transform-origin: right;
  background-color: var(--white);
}

.bg-danger a.nav-link:not(.dropdown-toggle):hover::after,
.bg-danger a.dropdown-item:hover::after
{
  width: 100%;
}

/* bg dark menu */
.bg-dark a.nav-link:not(.dropdown-toggle),
.bg-dark a.dropdown-item
{
  position: relative;
  transition: color .25s ease;
  color: var(--white);
}

.bg-dark a.nav-link:not(.dropdown-toggle):hover,
.bg-dark a.dropdown-item:hover
{
  text-decoration: underline;
}

.bg-dark a.nav-link:not(.dropdown-toggle)::after,
.bg-dark a.dropdown-item::after
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  content: '';
  transition: width .25s ease;
  transform-origin: right;
  background-color: var(--white);
}

.bg-dark a.nav-link:not(.dropdown-toggle):hover::after,
.bg-dark a.dropdown-item:hover::after
{
  width: 100%;
}

/* special hover for gallery */
a.hoverred:hover *
{
  color: var(--red);
}

a.hoverred:hover
{
  text-decoration: none;
  color: var(--red);
}

a.hoverblue:hover *
{
  color: var(--blue);
}

a.hoverblue:hover
{
  text-decoration: none;
  color: var(--blue);
}

a.hovergreen:hover *
{
  color: var(--green);
}

a.hovergreen:hover
{
  text-decoration: none;
  color: var(--green);
}

a.hoveroranger:hover *
{
  color: var(--orange);
}

a.hovergreen:hover
{
  text-decoration: none;
  color: var(--orange);
}

/* Font */
.archivo
{
  font-family: 'Archivo Narrow', sans-serif !important;
}

.roboto
{
  font-family: 'Roboto', sans-serif !important;
}

.lato
{
  font-family: 'Lato', sans-serif !important;
}

/* Font size */
.font80
{
  font-size: .8em;
}

.font85
{
  font-size: .85em;
}

.font90
{
  font-size: .9em;
}

.font95
{
  font-size: .95em;
}

.font100
{
  font-size: 1em;
}

/* Placeholder italic*/
::-webkit-input-placeholder
{
  font-style: italic;
}

::-moz-placeholder
{
  font-style: italic;
}

:-ms-input-placeholder
{
  font-style: italic;
}

input:-moz-placeholder
{
  font-style: italic;
}

/* Little fixs */
nav .flex-nowrap
{
  overflow: hidden;
  -webkit-overflow-scrolling: auto;
}

nav .flex-nowrap li
{
  white-space: nowrap;
}

a,
li
{
  outline: none;
}

.bg-danger
{
    /*
  The code can't work with left to right background transition
  a.active::after {

    display: inline-block;
    position:absolute;
    bottom:-5px;
    left:50%;
    width: 0;
    height: 0;

    content: '';
    vertical-align: .255em;
    border-top: .5em solid var(--red);
    border-right: .5em solid transparent;
    border-bottom: 0;
    border-left: .5em solid transparent;


}

*/
}
.bg-danger a
{
    position: relative; 

    -webkit-transition: color .2s, background-color .2s;
    /* Safari */
            transition: color .2s, background-color .2s;

    color: var(--white);
}
.bg-danger a:not(.active):hover
{
    color: var(--red); 
    background-color: var(--white);
}
.bg-danger a.active:hover
{
    color: var(--red); 
    background-color: var(--white);
}
.bg-danger a.active:hover::after
{
    border-top-color: transparent;
}

/* Header */
.flex-grow
{
    flex-grow: 1;
}

#header
{
    min-height: 220px;

    background-image: url('../../src/img/city8.jpeg');
    background-position: center; 
    background-size: cover;
}
#header .container-fluid .row
{
    min-height: 220px;
}
#header .overlay i.fa
{
    display: block;
}
#header .overlay form input,
#header .overlay form button
{
    border: none; 
    background-color: #fff;
}
#header .overlay form input
{
    padding: 4px 8px 0;
}

.divide .nav-item:not(.nolink):not(:last-child)::after
{
    padding: .5rem 0; 

    content: '|';

    color: var(--red);
}

.divide .nav-item
{
    display: flex;
    flex-direction: row;

    flex-wrap: nowrap;
}
.divide .nav-item a.nav-link,
.divide .nav-item .active a.nav-link
{
    font-size: 1em; 

    display: inline-block;

    color: var(--red);
}
.divide .nav-item a.nav-link:hover,
.divide .nav-item .active a.nav-link:hover
{
    text-decoration: underline;

    text-decoration-color: var(--dark);
}
.divide .nav-item a.nav-link:focus,
.divide .nav-item .active a.nav-link:focus
{
    color: var(--red);
}
.divide .nav-item.active a.nav-link
{
    text-decoration: underline;

    color: var(--red);

    text-decoration-color: var(--red);
}

.overlay
{
    position: relative;
    top: 0;
    left: 0; 

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .55);
}

.rotate
{
    /* Opera */
    position: relative;
    top: 5px;
    left: 75px; 

    display: block;
    /* Firefox */

    -webkit-transform: rotate(270deg);
    /* IE 9 */
       -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
    /* Safari and Chrome */
         -o-transform: rotate(270deg);
}

/* Nav link */
.nav-item.nolink,
.nav-item .nav-link
{
    padding: .9rem 1rem;
}

.tiret
{
    font-size: 1rem;
    font-weight: 300;

    display: inline-block;

    margin: 15px auto 0;
    padding: 0 20px;

    text-align: center; 
    text-transform: uppercase;

    background: #fff;
}
.tiret:after
{
    position: absolute;
    z-index: -1;
    left: 5%;

    width: 90%;
    height: 1px;
    margin-top: 9px;

    content: '';
    -webkit-transition: .3s all; 
            transition: .3s all;

    background: #1e1719;
}

.bg-danger .tiret
{
    background: var(--danger);
}

.bg-info .tiret
{
    background: var(--info);
}

.bg-success .tiret
{
    background: var(--success);
}

.bg-primary .tiret
{
    background: var(--primary);
}

.bg-warning .tiret
{
    background: var(--warning);
}

#alaune a .picture,
#footer-green a .picture
{
    overflow: hidden; 

    height: 140px;

    widows: 100%;
}

#alaune img,
#footer-green img
{
    width: 100%;
    min-height: 140px;
    max-height: 140px;
}

/* Carousel top */
#carousel .carousel-indicators
{
    right: auto;
    bottom: -13px;
    left: 51%;

    margin-right: auto;
    margin-left: auto;

    cursor: pointer;
}
#carousel .carousel-indicators li
{
    width: 10px;
    height: 10px;

    border: 1px solid var(--red);
    border-radius: 50%;
    background-color: transparent;
}
#carousel .carousel-indicators li.active
{
    background-color: var(--red);
}

#carousel .carousel-control-prev,
#carousel .carousel-control-next
{
    width: auto; 

    opacity: 1;
    color: var(--red);
}

#carousel .carousel-control-next-icon
{
    color: var(--red);
}

#carousel .carousel-control-prev
{
    left: -32px;
}

#carousel .carousel-control-next
{
    right: -32px;
}

#carousel .carousel-item
{
    overflow: hidden; 

    max-height: 250px;
}
#carousel .carousel-item img
{
    width: 50%;
    max-width: 50%;
    min-height: 250px;
}
#carousel .carousel-item .carousel-caption
{
    top: 0;
    right: auto;
    bottom: bottom;
    left: 50%;

    width: 50%;
    height: 100%;
    padding: 8px 16px; 

    text-align: justify;

    color: var(--dark);
}

/* Carousel bottom */
#carousel2
{
    margin-top: 40px;
    margin-bottom: 40px;
}
#carousel2 .carousel-indicators
{
    right: auto;
    bottom: -42px;

    width: 100%;
    margin-right: auto;
    margin-left: auto;

    cursor: pointer;
}
#carousel2 .carousel-indicators li
{
    width: 10px;
    height: 10px;

    border: 1px solid var(--white);
    border-radius: 50%;
    background-color: transparent;
}
#carousel2 .carousel-indicators li.active
{
    background-color: var(--white);
}
#carousel2 .carousel-control-prev,
#carousel2 .carousel-control-next
{
    position: absolute; 
    top: -105px;

    width: auto;

    opacity: 1;
    color: var(--red);
}
#carousel2 .carousel-control-next-icon
{
    color: var(--red);
}
#carousel2 .carousel-control-prev
{
    left: -32px;
}
#carousel2 .carousel-control-next
{
    right: -32px;
}
#carousel2 .carousel-item
{
    overflow: hidden; 

    max-height: 250px;
}
#carousel2 .carousel-item img
{
    width: 100%;
    max-width: 100%;
    min-height: 140px;

    border: 3.5px solid var(--white);
}

/* encoche */
#footer-green
{
    position: relative;

    margin-top: 48px;
    margin-bottom: 32px;

    border-bottom: 1px solid var(--dark);
}
#footer-green .encoche
{
    position: absolute;
    top: -18px;
    left: calc(50% - 18px);

    width: 36px;
    height: 36px;

    transform: rotate(45deg); 

    background-color: var(--white);
}

.bd-title
{
    font-weight: 600;

    margin: 0 0 16px;
    padding-left: 6px;

    text-transform: uppercase; 

    border-left: solid 2px var(--red);
}

.middle-left
{
    background-color: #e2e2e2;
}
.middle-left nav a
{
    color: var(--dark);
}
.middle-left nav a i.fa
{
    display: block;
}

.middle-right
{
    position: relative; 

    background: url('../img/explore.jpg');
    background-size: cover;
}
.middle-right .content .bd-title
{
    border-color: var(--white);
}
.middle-right .content .card
{
    -webkit-transition: .3s transform cubic-bezier(0, .5, 1, 1);
            transition: .3s transform cubic-bezier(0, .5, 1, 1); 

    color: var(--dark);
}
.middle-right .content .card:hover
{
    transform: scale(1.05);

    -webkit-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, .75);
       -moz-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, .75);
            box-shadow: 0 10px 6px -6px rgba(0, 0, 0, .75);
}

.middle-right .overlay
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background-color: rgba(220, 53, 69, .7);
}

/* Other */
#other a .picture
{
    position: relative; 

    overflow: hidden;

    height: 140px;

    widows: 100%;
}
#other a .picture .overlay
{
    position: absolute;

    padding: 16px;

    transition: background .5s; 

    background: rgba(0, 0, 0, .05);
}
#other a .picture .overlay h1,
#other a .picture .overlay h2,
#other a .picture .overlay h3,
#other a .picture .overlay h4,
#other a .picture .overlay h5,
#other a .picture .overlay h6
{
    height: 100%; 

    text-align: center;
    text-transform: uppercase;

    color: var(--white);
    border: 1px solid var(--white);
}
#other a .picture .overlay h1 span,
#other a .picture .overlay h2 span,
#other a .picture .overlay h3 span,
#other a .picture .overlay h4 span,
#other a .picture .overlay h5 span,
#other a .picture .overlay h6 span
{
    width: 100%; 

    text-align: center;
}
#other a .picture .overlay:hover
{
    background: rgba(0, 0, 0, .4);
}

#other img
{
    width: 100%;
    min-height: 140px;
    max-height: 140px;
}

footer
{
    position: relative;
}
footer .img-overlay
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: .1; 
    background: url('../img/city1.jpeg');
    background-attachment: fixed;
    background-position-y: center;
    background-size: cover;
}
