@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Merriweather|Source+Sans+Pro');

body
{
  font-family: 'Source Sans Pro', sans-serif;
  color: #293340;
  background-color: #ebebed;
}

input[type=text]:focus,
textarea:focus
{
  border: none;
  box-shadow: none !important;
}

nav.navbar .navbar-brand
{
  font-family: 'Great Vibes', cursivex;
  font-size: 2.1em;
}

nav.navbar #navNavbar
{
  font-family: 'Source Sans Pro', sans-serif;
  flex-grow: .8;
}

nav.navbar #navNavbar #top-menu
{
  font-size: .8125rem;
  font-weight: 600;
  letter-spacing: .0625em;
  text-transform: uppercase;
}

nav.navbar #navNavbar #top-menu li
{
  margin-left: 40px;
}

nav.navbar #navNavbar #searchLink
{
  font-size: .85em;
}

nav.navbar #navNavbar .fa
{
  color: #a98860;
}

#content #alaune
{
  position: relative;
  min-height: 400px;
  text-align: center;
  color: #fff;
  border-bottom: 3px solid #a98860;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  background: url('../img/people9.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

#content #alaune a,
#content #alaune a:hover
{
  font-family: 'Merriweather', serif;
  font-size: 2em;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  flex-basis: 1;
}

#content #alaune .dark-overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .1);
}

#searchModal .modal-lg
{
  max-width: 800px;
}

#searchModal .modal-content,
#searchModal .modal-header,
#searchModal .modal-body,
#searchModal .modal-footer
{
  border: none !important;
  background-color: transparent !important;
}

#searchModal .modal-title
{
  font-family: 'Great Vibes', cursive;
  font-size: 2.1em;
}

#searchModal input
{
  font-family: 'Merriweather', serif;
  font-size: 3em;
  padding-bottom: 24px;
  text-align: center;
  color: #fff;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
  background-color: transparent;
}

#searchModal button.close span
{
  font-size: 2.5em;
  color: #a98860;
  text-shadow: none;
}

#searchModal input[type=text]:focus,
#searchModal textarea:focus
{
  border-bottom: 1px solid #fff;
  box-shadow: none;
}

.modal-backdrop
{
  background-color: #293340;
}

.modal-backdrop.show
{
  opacity: 1;
}

#formBarContainer
{
  position: relative;
  min-height: 150px;
}

#formBarContainer form#formBar
{
  width: 100%;
}

#formBarContainer form#formBar input
{
  font-weight: 700;
  position: relative;
  z-index: 20;
  width: 50%;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  background: #fff url('../img/search.png') 98% 50% no-repeat;
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .16);
  box-shadow: 0 2px 7px rgba(0, 0, 0, .16);
}

#formBarContainer form#formBar input::placeholder
{
  opacity: 1;
  color: #4b73a1;
}

#formBarContainer form#formBar input:focus,
#formBarContainer form#formBar textarea:focus
{
  box-shadow: none;
}

#formBarContainer hr
{
  position: absolute;
  z-index: 10;
  top: 20%;
  width: 100%;
  border-bottom: 2px solid #d5d7db;
}

.news .card .img-limit-250
{
  overflow: hidden;
  max-height: 250px;
}

.news .card .img-limit-200
{
  overflow: hidden;
  max-height: 200px;
}

.news .card .img-limit-150
{
  overflow: hidden;
  max-height: 150px;
}

.news .card .img-limit-auto
{
  overflow-x: visible;
  max-height: auto;
}

.news .card .card-title
{
  font-size: .75rem;
  font-weight: 700;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #455d7c;
}

.news .card .card-title::before
{
  display: inline-block;
  width: 20px;
  height: 0;
  margin-right: 10px;
  content: '';
  vertical-align: middle;
  border-top: 2px solid #e20020;
}

.news .card .card-text
{
  font-family: 'Merriweather', serif;
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
}

.news .card.tweet .card-title
{
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.5em;
  margin-bottom: 2.5em;
  text-align: left;
  letter-spacing: auto;
  text-transform: uppercase;
  color: #fff;
}

.news .card.tweet .card-title .fa
{
  font-size: 1.75em;
  color: #46b8ff;
}

.news .card.tweet .card-title::before
{
  display: none;
}

.news .card.tweet .card-text
{
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2em;
  text-align: left;
}

.w-5
{
  width: 5% !important;
}

.w-10
{
  width: 10% !important;
}

.w-15
{
  width: 15% !important;
}

.w-20
{
  width: 20% !important;
}

.w-25
{
  width: 25% !important;
}

.w-30
{
  width: 30% !important;
}

.w-35
{
  width: 35% !important;
}

.w-40
{
  width: 40% !important;
}

.w-45
{
  width: 45% !important;
}

.w-50
{
  width: 50% !important;
}

.w-55
{
  width: 55% !important;
}

.w-60
{
  width: 60% !important;
}

.w-65
{
  width: 65% !important;
}

.w-70
{
  width: 70% !important;
}

.w-75
{
  width: 75% !important;
}

.w-80
{
  width: 80% !important;
}

.w-85
{
  width: 85% !important;
}

.w-90
{
  width: 90% !important;
}

.w-95
{
  width: 95% !important;
}

.w-100
{
  width: 100% !important;
}

.bg-blue
{
  color: #fff;
  background-color: #293340;
}
