body
{
  overflow-x: hidden;
}

*:not(.rounded):not(.rounded-top):not(.rounded-bottom):not(.rounded-right):not(.rounded-left):not(.rounded-circle)
{
  border-radius: 0 !important;
}

.navbar .nav-link
{
  font-size: 14px;
  padding-right: 1em !important;
  padding-left: 1em !important;
  text-transform: uppercase;
}

.navbar .nav-item.active
{
  border-left: #444 3px solid;
}

.carousel
{
  position: relative;
  min-height: 200px;
}

.carousel .carousel-item
{
  height: 450px;
}

.carousel .carousel-image-1
{
  background: url('../img/people1.jpeg');
  background-size: cover;
}

.carousel .carousel-image-2
{
  background: url('../img/people2.jpeg');
  background-size: cover;
}

.carousel .carousel-image-3
{
  background: url('../img/people3.jpeg');
  background-size: cover;
}

.carousel .container-fluid
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.fa
{
  font-size: 54px;
}

#home-heading
{
  position: relative;
  min-height: 200px;
  text-align: center;
  color: #fff;
  background: url('../img/people4.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#home-heading .dark-overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
}

#video-play
{
  position: relative;
  min-height: 200px;
  text-align: center;
  color: #fff;
  background: url('../img/people5.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 -300px;
}

#video-play a
{
  color: #fff;
}

#video-play .dark-overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
}
