*:not(.rounded):not(.rounded-top):not(.rounded-bottom):not(.rounded-right):not(.rounded-left):not(.rounded-circle)
{
  border-radius: 0 !important;
}

body
{
  color: #fff;
  background: #333;
}

.navbar
{
  opacity: .8;
  border-bottom: 3px solid #008ed6;
}

#home-section
{
  background-image: url('../img/home.jpeg');
}
