@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Merriweather|Source+Sans+Pro');

body
{
  font-family: 'Source Sans Pro', sans-serif;
  color: #293340;
  background-color: #ebebed;
}

nav.navbar .navbar-brand
{
  font-family: 'Great Vibes', cursivex;
  font-size: 2.1em;
}

nav.navbar #navNavbar
{
  font-family: 'Source Sans Pro', sans-serif;
  flex-grow: .8;
}

nav.navbar #navNavbar #top-menu
{
  font-size: .8125rem;
  font-weight: 600;
  letter-spacing: .0625em;
  text-transform: uppercase;
}

nav.navbar #navNavbar #top-menu li
{
  margin-left: 40px;
}

nav.navbar #navNavbar #searchLink
{
  font-size: .85em;
}

nav.navbar #navNavbar .fa
{
  color: #a98860;
}

#content #alaune
{
  position: relative;
  min-height: 400px;
  text-align: center;
  color: #fff;
  border-bottom: 3px solid #a98860;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  background: url('../img/people9.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

#content #alaune a,
#content #alaune a:hover
{
  font-family: 'Merriweather', serif;
  font-size: 2.5em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  flex-basis: 1;
}

#content #alaune .dark-overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .1);
}

#searchModal .modal-lg
{
  max-width: 800px;
}

#searchModal .modal-content,
#searchModal .modal-header,
#searchModal .modal-body,
#searchModal .modal-footer
{
  border: none !important;
  background-color: transparent !important;
}

#searchModal .modal-title
{
  font-family: 'Great Vibes', cursive;
  font-size: 2.1em;
}

#searchModal input
{
  font-family: 'Merriweather', serif;
  font-size: 3em;
  padding-bottom: 24px;
  text-align: center;
  color: #fff;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
  background-color: transparent;
}

#searchModal button.close span
{
  font-size: 2.5em;
  color: #a98860;
  text-shadow: none;
}

#searchModal input[type=text]:focus,
#searchModal textarea:focus
{
  border-bottom: 1px solid #fff;
  box-shadow: none;
}

.modal-backdrop
{
  background-color: #293340;
}

.modal-backdrop.show
{
  opacity: 1;
}
