$icon-size:54px;
$dark-overlay: rgba(0,0,0,0.7);
$dark-overlay2: rgba(0,0,0,0.5);

body{
  overflow-x: hidden;
}

*:not(.rounded):not(.rounded-top):not(.rounded-bottom):not(.rounded-right):not(.rounded-left):not(.rounded-circle){
  border-radius: 0 !important
}

.navbar{
  .nav-link{
    font-size:14px;
    text-transform: uppercase;
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
  .nav-item.active{
    border-left:#444 3px solid;
  }
}
.carousel{
  position:relative;
  min-height:200px;

  .carousel-item{
    height: 450px;
  }

  .carousel-image-1{
    background: url('../img/people1.jpeg');
    background-size: cover;
  }

  .carousel-image-2{
    background: url('../img/people2.jpeg');
    background-size: cover;
  }

  .carousel-image-3{
    background: url('../img/people3.jpeg');
    background-size: cover;
  }

  .container-fluid{
    position:absolute;
    top:0;
    left:0;
    background-color: $dark-overlay2;
    width: 100%;
    height: 100%;
  }
}

.fa{
  font-size: $icon-size;
}

#home-heading{
  position:relative;
  min-height:200px;
  background: url('../img/people4.jpeg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align:center;
  color:#fff;

  .dark-overlay{
    position:absolute;
    background-color: $dark-overlay;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}

#video-play{
  position:relative;
  min-height:200px;
  background: url('../img/people5.jpeg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align:center;
  color:#fff;
  a{
    color:#fff;
  }

  .dark-overlay{
    position:absolute;
    background-color: $dark-overlay;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}
