*:not(.rounded):not(.rounded-top):not(.rounded-bottom):not(.rounded-right):not(.rounded-left):not(.rounded-circle){
    border-radius: 0 !important
  }
$bg-color:#333;
$font-color: #fff;
$primary-color:#008ed6;

body{
  background: $bg-color;
  color:$font-color
}

.navbar{
  border-bottom: 3px solid $primary-color;
  opacity: 0.8;
}

#home-section{
  background-image: url('../img/home.jpeg')
}