$white: #ffffff;
$blue: #0b6ba8;
$grey: #f3f3f3;
$grey2: #707070;
$grey3: #bbb;
$brown: #DBD6D6;

body{
  color:#707070;
  font-size:0.9em;
  content: "|";

    a{
      color:$grey2;
    }
    a:hover{
      color:$grey2;
      text-decoration: underline
    }
}
#cookie.alert-dark{
    background-color: #212121;
    color: $white;
    text-shadow: none;
    font-size: 0.7em;
    text-align:center;
    line-height:0.9em;
    margin-bottom:0;
  .btn-blue{
    background-color: $blue;
    color: $white;
    border-radius: 4px;
    margin-left:8px;
    padding:2px 4px;
    font-size: 0.95em;
  }

  a.close{
    float: inherit;
    position: relative;
    text-shadow: none;
    opacity:1;
    font-weight:normal;
    text-transform: uppercase;
  }
}

#firstMenu{
  a{
    color: #555;
  }
  .navbar-brand{
    font-size: 1em;
    color:#888;
  }
  font-size: 0.75em;
  ul.mr-auto li a{
    margin-right:2px;
    padding:0;
  }
  ul.mr-auto li a:hover{
    text-decoration: underline;
  }
  ul.mr-auto li:not(:last-child) a:after{
    display: inline-block;
    color: #6c757d;
    content: "-";
    margin-left:2px;;
  }
  a.social i.fa{
    position:relative;
    top:-0.25em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    border-radius: 50%;
  }

  $colors: (
    facebook: #3B5999,
    twitter: #A5CEEC,
    instagram: #1875AE,
    vine: #43C19A
  );

  @each $element, $value in $colors {
    a.social i.fa.fa-#{$element}{
      border: 1.8px solid $value;
      color: $value;
    }
  }


}

#navNavbar{
  position:relative;
  padding-bottom: 32px;
  .logo{
    position: relative;
    margin: 0 auto;
  }
  .search-top{
    position:absolute;
    bottom:0;
    right:0;
    border: 1px solid $grey;
    background-color: $grey;
    color:#333;
    border-radius: 6px;
    padding:4px 4px;
    min-width:220px;
    input{
      flex-grow: 1;
      background-color: $grey;
      border: 1px solid $grey
    }
    button{
      background-color: $grey;
      border: 1px solid $grey;
      border-left: 1px solid rgba(0,0,0,.2);
      padding-right:2px;
      cursor: pointer;
      color:#787878;
    }
  }
}
.bg-grey{
  background-color: $grey;
  margin-top:6px;
}
.bg-brown{
  background-color: $brown;
  margin-top:6px;
}
#content{
  background-color: $grey;
  min-height:200px;
  margin-top:6px;

  #topmenu{
    ul{
      margin-top:8px;
    }
    ul>li{
      padding-left:8px;
      padding-right:4px;
    }
    ul>li::before {
      display: inline;
      padding-right: .5rem;
      padding-left: .5rem;
      color: $grey3;
      content: "|";
    }
    ul>li:last-child::after {
      display: inline;
      padding-right: .5rem;
      padding-left: .5rem;
      color: $grey3;
      content: "|";
    }
    a{
      text-transform: uppercase;
      display:inline;
      color:$grey2;
    }
    a:hover{
      text-decoration: underline
    }
  }

  hr.black-line{
    border-bottom: 2px solid #555;
    margin-top:8px;
  }
}

#content-left, #content-center, #content-right{
  .card{
    ul li{
      position:relative;
    }
    .bg-primary:hover::before {
      display: inline-block;
      width: 0;
      height: 0;
      position:absolute;
      color:#3292A6;
      top:-1em;
      left:8px;
      margin-left: .255em;
      vertical-align: .255em;
      content: "";
      border-bottom: 1.2em solid;
      border-right: 1.5em solid transparent;
      border-top: 0;
      border-left: 0.6em solid transparent;
    }
    p{
      margin-bottom:4px;
    }
    div.info{
      border-bottom: 2px solid $grey3;
    }
    li.picture{
      overflow:hidden;
    }
    li.picture img{
      transition: transform .5s;
      width: 100%;
    }
    li.picture img:hover{
      transform: scale(1.2);
    }

    a.social i.fa{
      position:relative;
      top:-0.15em;
      width: 1.6em;
      height: 1.6em;
      line-height: 1.6em;
      text-align: center;
      border-radius: 50%;
    }

    $colors: (
      facebook: #3B5999,
      twitter: #A5CEEC,
      instagram: #1875AE,
      vine: #43C19A
    );

    @each $element, $value in $colors {
      a.social i.fa.fa-#{$element}{
        border: 1.8px solid $value;
        color: $value;
      }
    }

  }
}

footer{
  padding-bottom:16px;
  position:relative;
  font-size:0.9em;

  div[class^="col-"].linetop{
    border-top: 1px solid rgba(0,0,0,.2);
    padding-top: 1.5em;
  }
  a.social i.fa{
    position:relative;
    top:-0.3em;
    width: 2.2em;
    height: 2.2em;
    line-height: 2.2em;
    text-align: center;
    border-radius: 50%;
  }

  $colors: (
    facebook: #3B5999,
    twitter: #A5CEEC,
    instagram: #1875AE,
    vine: #43C19A
  );

  @each $element, $value in $colors {
    a.social i.fa.fa-#{$element}{
      border: 2px solid $value;
      color: $value;
    }
  }
}
