<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bootsrap 4 starter</title>
  <link rel="stylesheet" href="../../src/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../src/css/bootstrap2.css">
  <link rel="stylesheet" href="../../src/css/style08.css">
</head>

<body id="home">
  <!-- First Menu -->
  <!-- /First Menu -->

  <!-- Header -->
  <!-- /Header -->

  <!-- Second Menu -->
  <!-- /Second Menu -->

  <!-- Caroussel -->
  <!-- /Caroussel -->

  <!-- A la Une -->
  <!-- /A la Une -->

  <!-- Middle -->

  <!-- Services / Demarches -->
  <!-- /Services / Demarches -->

  <!-- Profile -->
  <!-- /Profile -->

  <!-- /Middle -->

  <!-- Other / Et aussi / Gallery -->
  <!-- /Other / Et aussi / Gallery -->

  <!-- Footer -->
  <!-- /Footer -->

  <!-- Cookie - in Europ countries, users should give their prior consent to be tracked by cookies: directive 2009/136/CE
  @see: https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32009L0136&from=FR -->
  <!-- /Cookie -->

  <script src="../../src/js/jquery.min.js"></script>
  <script src="../../src/js/popper.min.js"></script>
  <script src="../../src/js/bootstrap.min.js"></script>

</body>

</html>
